WCF Examples/PetService/PetServiceClient/Service References/CatServiceClient/mex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PetService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PetService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SKitten">
    <xs:sequence>
      <xs:element name="color" nillable="true" type="xs:string" />
      <xs:element name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SKitten" nillable="true" type="tns:SKitten" />
  <xs:complexType name="KittyPoop">
    <xs:sequence>
      <xs:element name="size" nillable="true" type="xs:string" />
      <xs:element name="smell" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KittyPoop" nillable="true" type="tns:KittyPoop" />
</xs:schema>