WCF Examples/PetService/PetServiceClient/Service References/CatServiceClient/mex3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/pets/mex?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PetService" />
  <xs:element name="speak">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="speakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="speakResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CuteKitty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="id" nillable="true" type="xs:string" />
  <xs:element name="haveXKitten">
    <xs:complexType />
  </xs:element>
  <xs:element name="haveXKittenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="haveXKittenResult" type="tns:XKitten" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="XKitten">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="color" type="xs:string" />
  </xs:complexType>
  <xs:element name="haveSKitten">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="haveSKittenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PetService" minOccurs="0" name="haveSKittenResult" nillable="true" type="q1:SKitten" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="throwUncaught">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="throwUncaughtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="throwCaught">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="throwCaughtResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="throwCustom">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="throwCustomResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>