WCF Examples/VersionRoutingDemo/ClientVersion1/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_OperationA_InputMessage">
    <wsdl:part name="parameters" element="tns:OperationA" />
  </wsdl:message>
  <wsdl:message name="IService_OperationA_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperationAResponse" />
  </wsdl:message>
  <wsdl:message name="IService_OperationB_InputMessage">
    <wsdl:part name="parameters" element="tns:OperationB" />
  </wsdl:message>
  <wsdl:message name="IService_OperationB_OutputMessage">
    <wsdl:part name="parameters" element="tns:OperationBResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="OperationA">
      <wsdl:input wsaw:Action="OperationA" message="tns:IService_OperationA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OperationAResponse" message="tns:IService_OperationA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OperationB">
      <wsdl:input wsaw:Action="OperationB" message="tns:IService_OperationB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/OperationBResponse" message="tns:IService_OperationB_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OperationA">
      <soap:operation soapAction="OperationA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OperationB">
      <soap:operation soapAction="OperationB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:10001/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>