WCF Examples/ConcurrencyDemo/IISClient/Service References/PCM_Reference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Process_InputMessage">
    <wsdl:part name="parameters" element="tns:Process" />
  </wsdl:message>
  <wsdl:message name="IService_NotifyBegin_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyBegin" />
  </wsdl:message>
  <wsdl:message name="IService_NotifyEnd_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyEnd" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Process">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Process" message="tns:IService_Process_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyBegin">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/NotifyBegin" message="tns:IService_NotifyBegin_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyEnd">
      <wsdl:output wsaw:Action="http://tempuri.org/IService/NotifyEnd" message="tns:IService_NotifyEnd_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetTcpBinding_IService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Process">
      <soap12:operation soapAction="http://tempuri.org/IService/Process" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="NotifyBegin">
      <soap12:operation soapAction="http://tempuri.org/IService/NotifyBegin" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyEnd">
      <soap12:operation soapAction="http://tempuri.org/IService/NotifyEnd" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="NetTcpBinding_IService" binding="tns:NetTcpBinding_IService">
      <soap12:address location="net.tcp://192.168.1.148:12001/concurrency/Service1.svc/status" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.148:12001/concurrency/Service1.svc/status</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>